{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-info pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item"><a href="#" class="text-info"><i
                                        class="fas fa-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="#" class="text-info">Dashboards</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Default</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- Card stats -->
                    <div class="row">
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Tameenak
                                                Users</h5>
                                            <span class="h2 font-weight-bold mb-0">{{ total_tameenak_user }}</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Insurance
                                                Company</h5>
                                            <span class="h2 font-weight-bold mb-0">{{ total_insurance_company }}</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                                <i class="ni ni-chart-pie-35"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Total Waiting
                                                Requests</h5>
                                            <span class="h2 font-weight-bold mb-0">{{ total_waiting_requests }}</span>
                                        </div>
                                        <div class="col-auto">
                                            <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                                <i class="ni ni-money-coins"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">User Requests</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" class="sort" data-sort="name">User Name</th>
                            <th scope="col" class="sort" data-sort="phone_number">Company Name</th>
                            <th scope="col" class="sort" data-sort="website">Company website</th>
                            <th scope="col" class="sort" data-sort="capital">Company Phone Number</th>
                            <th scope="col" class="sort" data-sort="More"></th>
                        </tr>
                        </thead>
                        <tbody class="list">
                        <tr>
                            {% for query in object_list %}
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{ query.user.user.username }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td class="budget">
                                    {{ query.insurance_company.name }}
                                </td>
                                <td>
                                    <a href="{{ query.insurance_company.website }}" target="_blank" class="text-info">Visit</a>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="completion">{{ query.insurance_company.phone_number }}</span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <div class="d-flex align-items-center justify-content-start">
                                        <!-- Button to trigger the modal -->
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal"
                                                data-target="#myModal{{ query.id }}">
                                            View
                                        </button>

                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal{{ query.id }}" tabindex="-1"
                                             role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="myModalLabel">Request
                                                            for {{ query.user.user.username }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <form action="{% url 'tameenak_admin:admin_dashboard' %}"
                                                          method="post">
                                                        {% csrf_token %}
                                                        {{ form.rejection_reason | safe }}
                                                        <div class="modal-footer justify-content-around">
                                                            <input type="hidden" name="user_id"
                                                                   value="{{ query.user.id }}">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Close
                                                            </button>
                                                            <button type="submit" name="action"
                                                                    value="accept_request"
                                                                    class="btn btn-info"
                                                                    id="submitBtn{{ query.id }}">Accept
                                                            </button>
                                                            <button type="submit" class="btn btn-danger"
                                                                    name="action" value="reject_request"
                                                                    id="submitBtn{{ query.id }}">Reject
                                                            </button>

                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

    <script src="/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
